<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>

        <binding name="NetMsmqBinding_IPublisherService">
          <security mode="None" />

        <binding name="NetMsmqBinding_IDeliveryService">
          <security mode="None">
            <transport msmqSecureHashAlgorithm="Sha256" />
          </security>
        </binding>
        <binding name="NetMsmqBinding_IDeliveryService1">
          <security mode="None">
            <transport msmqSecureHashAlgorithm="Sha256" />
          </security>
        </binding>
        <binding name="NetMsmqBinding_IDeliveryService2">
          <security mode="None">
            <transport msmqSecureHashAlgorithm="Sha256" />
          </security>
        </binding>
        <binding name="NetMsmqBinding_IDeliveryService3">
          <security mode="None">
            <transport msmqSecureHashAlgorithm="Sha256" />
          </security>
        </binding>
        <binding name="NetMsmqBinding_IEmailService">
          <security mode="None">
            <transport msmqSecureHashAlgorithm="Sha256" />
          </security>

        </binding>
      </netMsmqBinding>
    </bindings>
    <client>

      <endpoint address="net.msmq://localhost/private/PublisherMessageQueueTransacted"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IPublisherService"
        contract="PublisherService.IPublisherService" name="NetMsmqBinding_IPublisherService" />

      <endpoint address="net.msmq://localhost/private/DeliveryService"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IDeliveryService"
        contract="ServiceReference1.IDeliveryService" name="NetMsmqBinding_IDeliveryService" />
      <endpoint address="net.msmq://localhost/private/DeliveryService"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IDeliveryService1"
        contract="DeliveryService.IDeliveryService" name="NetMsmqBinding_IDeliveryService1" />
      <endpoint address="net.msmq://localhost/private/DeliveryService"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IDeliveryService2"
        contract="ServiceReference1.IDeliveryService" name="NetMsmqBinding_IDeliveryService2" />
      <endpoint address="net.msmq://localhost/private/DeliveryService"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IDeliveryService3"
        contract="DeliveryServiceRef.IDeliveryService" name="NetMsmqBinding_IDeliveryService3" />
      <endpoint address="net.msmq://localhost/private/EmailServiceQueue"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IEmailService"
        contract="EmailServiceRef.IEmailService" name="NetMsmqBinding_IEmailService" />

    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>